# Create a class having a default constructor to initialize two data frames with data mentioned below

id 	name	gender 	marks
10	Abhijit	M	20
20	Neha	F	40
30	Rahul	M	60
40	Sneha	F	80

id 	name	gender 	marks
10	Abhijit	M	20
20	Neha	F	40
50	Amit	M	100
60	Laxmi	F	120

perform merge operation using each function for inner and outer
all variable considered must be private variables

pip install !pandas

In [1]:
import pandas as pd
class Populate:
    def __init__(self):
        self.__df1 = pd.DataFrame({
            "id":[10,20,30,40],
            "name":["Abhijit","Neha","Rahul","Sneha"],
            "gender":["male","female","male","female"],
            "marks":[20,40,60,80]
        })
        
        self.__df2 = pd.DataFrame({
            "id":[10,20,50,60],
            "name":["Abhijit","Neha","Amit","Laxmi"],
            "gender":["male","female","male","female"],
            "marks":[20,40,60,80]
        })
    
    def merge_operation_inner(self):
        self.__dfrmi = pd.merge(self.__df1,self.__df2,on='id')
        
    def merge_operation_outer(self):
        self.__dfrmo = pd.merge(self.__df1,self.__df2,on='id',how="outer")
        
    def display(self):
        print(self.__df1)
        print(self.__df2)
        print(self.__dfrmi)
        print(self.__dfrmo)
        
p = Populate()
p.merge_operation_inner()
p.merge_operation_outer()
p.display()

   id     name  gender  marks
0  10  Abhijit    male     20
1  20     Neha  female     40
2  30    Rahul    male     60
3  40    Sneha  female     80
   id     name  gender  marks
0  10  Abhijit    male     20
1  20     Neha  female     40
2  50     Amit    male     60
3  60    Laxmi  female     80
   id   name_x gender_x  marks_x   name_y gender_y  marks_y
0  10  Abhijit     male       20  Abhijit     male       20
1  20     Neha   female       40     Neha   female       40
   id   name_x gender_x  marks_x   name_y gender_y  marks_y
0  10  Abhijit     male     20.0  Abhijit     male     20.0
1  20     Neha   female     40.0     Neha   female     40.0
2  30    Rahul     male     60.0      NaN      NaN      NaN
3  40    Sneha   female     80.0      NaN      NaN      NaN
4  50      NaN      NaN      NaN     Amit     male     60.0
5  60      NaN      NaN      NaN    Laxmi   female     80.0