In [1]:
import pandas as pd
df1 = pd.DataFrame({"id":[1,2,3],
                   "name":["k","d","b"],
                   "age":[10,20,30]})
df1

   id name  age
0   1    k   10
1   2    d   20
2   3    b   30

In [2]:
df2 = pd.DataFrame({"id":[4,2,5],
                   "qualification":["k","d","b"]})
df2

   id qualification
0   4             k
1   2             d
2   5             b

In [29]:
class process:    
    def __init__(self,d1,d2):
        self.__pd1 = d1
        self.__pd2 = d2
        
    def processData(self,col_name):
        try:
            if col_name not in self.__pd1.columns and col_name not in self.__pd2.columns:
                print(f"Either the dataframes doesn't have column name {col_name}")
                return
            self.__pd3 = self.__pd1.merge(self.__pd2,on=col_name)
            print(self.__pd3,"processing")
            self.__pd3["Status"] = "Even" if ((self.__pd3["age"]>=15) and (self.__pd3["age"]<=30)) else "Odd"
            print(self.__pd3,"processing")            
        except:
            return
        return self.__pd3
        
        
p = process(df1,df2)
print(p.processData("id"))

   id name  age qualification
0   2    d   20             d processing
None

In [ ]:
class process:
    
    __pvtclassvar = "private class variable abc" # private class variable
    pvtclassvar = "public class varible 123" # public class varible
    _pvtclassvar = "protected class variable xyz" # protected class variable
    
    def __init__(self,d1,d2):
        self.__pd1 = d1
        self.__pd2 = d2
        
        self.__pvtinstvar = "" # private instance variable
        self.pvtinstvar = "" # public instance varible
        self._pvtinstvar = "" # protected instance variable
        
    def processData(self,col_name):
        try:
            if col_name not in self.__pd1.columns and col_name not in self.__pd2.columns:
                print(f"Either the dataframes doesn't have column name {col_name}")
                return
            self.__pd3 = self.__pd1.merge(self.__pd2,on=col_name)
            print(self.__pd3,"processing")
#             self.__pd3["Status"] = 'OK'
            self.__pd3["Status"] = "Even" if ((self.__pd3["age"]>=15) and (self.__pd3["age"]<=30)) else "Odd"
            print(self.__pd3,"processing")
            # self.__pd3 = self.__pd3[(self.__pd3["age"]>=15) & (self.__pd3["age"]<=30)]
            
        except:
            return
        return self.__pd3
        
        
p = process(df1,df2)
print(p.processData("id"))
# print(p.processData("id1"))

In [44]:
df3 = df2.merge(df1,on="id")
df3

   id qualification name  age
0   2             d    d   20

In [45]:
df3["status"] = "Even"
df3

   id qualification name  age status
0   2             d    d   20   Even

In [15]:
p1 = process(df1,df2)
dir(p1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_process__pd1',
 '_process__pd2',
 '_process__pvtclassvar',
 '_process__pvtinstvar',
 '_pvtclassvar',
 '_pvtinstvar',
 'processData',
 'pvtclassvar',
 'pvtinstvar']

In [16]:
dir(process)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_process__pvtclassvar',
 '_pvtclassvar',
 'processData',
 'pvtclassvar']

In [30]:
# mangling - concept to access private (both class and instance) variable outside the class
# against PEP
print(process._process__pvtclassvar)
print(process._pvtclassvar)
print(process.pvtclassvar)

private class variable abc
protected class variable xyz
public class varible 123

In [37]:
class a:
    # process private access - always mangling
    # protected variable can never be mangled
    def __init__(self):
        print(process._process__pvtclassvar)
        print(process._pvtclassvar)
    
class b(process):
    # process private access - always mangling
    def __init__(self):
        print(process._process__pvtclassvar)
        print(process._pvtclassvar)

A = a()
B = b()

private class variable abc
protected class variable xyz
private class variable abc
protected class variable xyz